<%- include('../../fragments/header.ejs') %>
<script type="application/javascript" src="/js/validationFormLecture.js"></script>
<script type="application/javascript" src="/js/validationFormCommon.js"></script>

<main>
    <h2><%= pageTitle %></h2>

    <form class="form" method="post" action="<%= formAction %>" novalidate>

        <input type="hidden" name="_id" value="<%= lect._id %>"/>


        <label for="name">Nazwa: <span class="symbol-required">*</span>
            <span class="symbol-required"></span></label>
        <input class="<%= validationErrors.find(e => e.path.includes('name')) ? 'error-input' : '' %>" type="text"
               name="name" id="name" placeholder="np. Technologia Internetu"
               value="<%= lect.name %>"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %> required/>
        <span id="errorLectureName" class="errors-text">
            <% if(validationErrors.find(e => e.path.includes('name'))){ %>
                <%= validationErrors.find(e => e.path.includes('name')).message %>
            <% } %>
        </span>


        <label for="prof_id">Profesor: <span class="symbol-required">*</span></label>
        <select class="<%= validationErrors.find(e => e.path.includes('prof_id')) ? 'error-input' : '' %>"
                name="prof_id" id="prof_id" class="select-required" required
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>>
            <% if (formMode !== 'edit' ){ %>
                <option value="" selected="selected">--wybierz profesora--</option>
            <% } %>
            <% for (let i = 0; i < allProfs.length; i++) { let prof = allProfs[i]; %>
            <option value="<%= prof._id %>" label="<%= prof.firstName + ' ' + prof.lastName %>"
            <%= (lect._id && prof._id.toString() === lect.professor._id.toString()) ? 'selected' : '' %>
            </option>
            <% } %>
        </select>
        <span id="errorProfessor" class="errors-text">
            <% if(validationErrors.find(e => e.path.includes('prof_id'))){ %>
                <%= validationErrors.find(e => e.path.includes('prof_id')).message %>
            <% } %>
        </span>

        <label for="dept_id">Katedra: <span class="symbol-required">*</span></label>
        <select class="<%= validationErrors.find(e => e.path.includes('dept_id')) ? 'error-input' : '' %>"
                name="dept_id" id="dept_id" class="select-required" required
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>>
            <% if (formMode !== 'edit' ){ %>
                <option value="" selected="selected">--wybierz katedrę--</option>
            <% } %>
            <% for (let i = 0; i < allDepts.length; i++) {let dept = allDepts[i]; %>
            <option value="<%= dept._id %>" label="<%= dept.name %>"
            <%= (lect._id && dept._id.toString() === lect.department._id.toString()) ? 'selected' : '' %>
            </option>
            <% } %>
        </select>
        <span id="errorDepartment" class="errors-text">
            <% if(validationErrors.find(e => e.path.includes('dept_id'))){ %>
                <%= validationErrors.find(e => e.path.includes('dept_id')).message %>
            <% } %>
        </span>


        <label for="dateFrom">Czas rozpoczęcia: <span class="symbol-required">*</span></label>
        <input class="<%= validationErrors.find(e => e.path.includes('dateFrom')) ? 'error-input' : '' %>"
               type="datetime-local" name="dateFrom" id="dateFrom"
        <% if (formMode !== 'createNew' ){ %>
               value="<%= lect.dateFrom.toISOString().split('T')[0] + ' ' + lect.dateFrom.toISOString().split('T')[1].substring(0, 8) %>"
                <% } %>
                <%= (formMode === 'showDetails') ? 'disabled' : '' %> required>
        <span id="errorStartDate" class="errors-text">
            <% if(validationErrors.find(e => e.path.includes('dateFrom'))){ %>
                <%= validationErrors.find(e => e.path.includes('dateFrom')).message %>
            <% } %>
        </span>

        <label for="dateTo">Czas zakończenia: </label>
        <input class="<%= validationErrors.find(e => e.path.includes('dateTo')) ? 'error-input' : '' %>"
               type="datetime-local" name="dateTo" id="dateTo"
        <% if (formMode !== 'createNew' ){ %>
               value="<%= lect.dateTo.toISOString().split('T')[0] + ' ' + lect.dateTo.toISOString().split('T')[1].substring(0, 8); %>"
                <% } %>
                <%= (formMode === 'showDetails') ? 'disabled' : '' %> />
        <span id="errorEndDate" class="errors-text">
            <% if(validationErrors.find(e => e.path.includes('dateTo'))){ %>
                <%= validationErrors.find(e => e.path.includes('dateTo')).message %>
            <% } %>
        </span>

        <% if (formMode === 'showDetails'){ %>
            <label for="duration">Czas trwania: <span class="symbol-required">*</span></label>
            <input type="text" name="duration" id="duration" placeholder="np. 30"
                   value="<%= Math.round((((lect.dateTo - lect.dateFrom) / 1000) / 60)) + ' minut' %>"
                    <%= (formMode === 'showDetails') ? 'disabled' : '' %> required/>
            <span id="errorDuration" class="errors-text"></span>
        <% } %>

        <% if (formMode !== 'showDetails') { %>
            <div class="form-buttons">
            </div>
        <% } %>
        <% if (formMode === 'showDetails') { %>
            <% if (loggedUser) { %>
            <div class="form-buttons">
                <a href="/lectures/edit/<%= lect._id %> " class="form-button-edit">Edytuj</a>
            </div>
                <% } %>
        <% } %>

        <div class="form-buttons">
            <span class="errors-text" id="errorsSummary"></span>
            <% if (formMode !== 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%= btnLabel %>"/>
                <a class="form-button-cancel" href="/lectures">Anuluj</a>
            <% } else { %>
                <a class="form-button-cancel" href="/lectures">Powrót</a>
            <% } %>
        </div>
    </form>

    <% if (formMode === 'showDetails' || formMode === 'edit') { %>


        <h2>Profesor</h2>

        <table class="table-list">
            <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>E-mail</th>
                <th>Specjalizacja</th>
                <% if (loggedUser) { %>
                <th>Opcje</th>
                    <% } %>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><%= lect.professor.firstName %></td>
                <td><%= lect.professor.lastName %></td>
                <td><%= lect.professor.email %></td>
                <td><%= lect.professor.specialization %></td>
                <% if (loggedUser) { %>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/professors/details/<%= lect.professor._id %>"
                               class="list-actions-button-details">Szczegóły</a>
                        </li>
                        <% if (loggedUser) { %>
                        <li>
                            <a href="/professors/delete/<%= lect.professor._id %>" class="list-actions-button-delete"
                               onclick="return confirm('Are you sure?')">Usuń</a>
                        </li>
                            <% } %>
                    </ul>
                </td>
                    <% } %>
            </tr>


            </tbody>
        </table>
        <h2>Katedra</h2>

        <table class="table-list">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Ilość Godzin</th>
                <th>Opis</th>
                <th>Opcje</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><%= lect.department.name %></td>
                <td class="dept-hours"><%= lect.department.totalHours + ' godzin wykładowych' %></td>
                <td class="dept-description">
                    <div class="scrollable"> <%= lect.department.description %></div>
                </td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/departments/details/<%= lect.department._id %>"
                               class="list-actions-button-details">Szczegóły</a>
                        </li>
                        <% if (loggedUser) { %>
                        <li>
                            <a href="/departments/delete/<%= lect.department._id %>" class="list-actions-button-delete"
                               onclick="return confirm('Are you sure?')">Usuń</a>
                        </li>
                            <% } %>
                    </ul>
                </td>
            </tr>


            </tbody>
        </table>
    <% } %>

</main>
<%- include('../../fragments/footer.ejs') %>