<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Lista wykładów</h2>
    <table class="table-list">
        <tr>
            <th>Nazwa</th>
            <th>Data Rozpoczęcia</th>
            <th class="tableEndTime">Data zakończenia</th>
            <th>Czas trwania</th>
            <th>Opcje</th>
        </tr>
        <tbody>
        <% for (let lect of lects) { %>
            <tr>
                <td><%= lect.name %></td>
                <td><%= lect.dateFrom.toISOString().split('T')[0] + ' o ' + lect.dateFrom.toISOString().split('T')[1].substring(0, 8) %></td>
                <td><%= lect.dateTo.toISOString().split('T')[0] + ' o ' + lect.dateTo.toISOString().split('T')[1].substring(0, 8) %></td>
                <td><%= lect.duration %></td>
                <td>
                    <ul class="list-actions">
                        <li><a href="/lectures/details/<%= lect._id %>" class="list-actions-button-details">
                                Szczegóły</a>
                        </li>
                        <li><a href="/lectures/edit/<%= lect._id %>" class="list-actions-button-edit"> Edytuj</a></li>
                        <li><a href="/lectures/delete/<%= lect._id %>" class="list-actions-button-delete"> Usuń</a>
                        </li>
                    </ul>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <p><a href="/lectures/add" class="list-actions-button-add">Dodaj nowy
            wykład</a></p>
</main>
<%- include('../../fragments/footer.ejs') %>