<%- include('../../fragments/header.ejs') %>
<main>
    <script type="application/javascript" src="/js/validationFormProf.js"></script>
    <script type="application/javascript" src="/js/validationFormCommon.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%= formAction %>" novalidate>

        <input type="hidden" name="_id" value="<%= prof._id %>">


        <label for="firstName">Imię: <span class="symbol-required">*</span></label>
        <input class="<%= validationErrors.find(e => e.path.includes('firstName')) ? 'error-input' : '' %>" type="text"
               name="firstName" id="firstName" placeholder="np. Jan" value="<%= prof.firstName %>"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorFirstName" class="errors-text">
            <% if(validationErrors.find(e => e.path.includes('firstName'))){ %>
                <%= validationErrors.find(e => e.path.includes('firstName')).message %>
            <% } %>
        </span>

        <label for="lastName">Nazwisko: <span class="symbol-required">*</span></label>
        <input class="<%= validationErrors.find(e => e.path.includes('lastName')) ? 'error-input' : '' %>" type="text"
               name="lastName" id="lastName" placeholder="np. Kowalski" value="<%= prof.lastName %>"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorLastName" class="errors-text">
            <% if(validationErrors.find(e => e.path.includes('lastName'))){ %>
                <%= validationErrors.find(e => e.path.includes('lastName')).message %>
            <% } %>
        </span>

        <label for="email">E-mail: <span class="symbol-required">*</span></label>
        <input class="<%= validationErrors.find(e => e.path.includes('email')) ? 'error-input' : '' %>" type="text"
               name="email" id="email" placeholder="imie.nazwisko@utoronto.com"
               value="<%= prof.email %>"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorEmail" class="errors-text">
            <% if(validationErrors.find(e => e.path.includes('email'))){ %>
                <%= validationErrors.find(e => e.path.includes('email')).message %>
            <% } %>
        </span>

        <label for="specialization">Specjalizacja:</label>
        <input type="text" name="specialization" id="specialization" placeholder="np. Fizyka kwantowa"
               value="<%= prof.specialization %>"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorSpecialization" class="errors-text"></span>

        <div class="form-buttons">
            <% if (formMode !== 'showDetails'){ %>
            <% } %>

            <% if (formMode === 'showDetails') { %>
                <a href="/professors/edit/<%= prof._id %> " class="form-button-<%= buttonCSS %>">Edytuj</a>
            <% } %>

            <span class="errors-text" id="errorsSummary"></span>
            <% if (formMode !== 'showDetails') { %>
                <input class="form-button-<%= buttonCSS %>" type="submit" value="<%= btnLabel %>"/>
                <a class="form-button-cancel" href="/professors">Anuluj</a>
            <% } else { %>
                <a class="form-button-cancel" href="/professors">Powrót</a>
            <% } %>
        </div>
    </form>
    <% if (formMode === 'showDetails' || formMode === 'edit') { %>


        <h2>Wykłady profesora</h2>

        <table class="table-list">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Data rozpoczęcia</th>
                <th>Data zakończenia</th>
                <th>Długość</th>
                <th>Opcje</th>
            </tr>
            </thead>
            <tbody>
            <% for (let l of prof.lectures) { %>
                <tr>
                    <td><%= l.name %></td>
                    <td><%= l.dateFrom.toISOString().split('T')[0] + ' od ' + l.dateFrom.toISOString().split('T')[1].substring(0, 8) %></td>
                    <td><%= l.dateTo.toISOString().split('T')[0] + ' do ' + l.dateTo.toISOString().split('T')[1].substring(0, 8) %></td>
                    <td><%= Math.round((((l.dateTo - l.dateFrom) / 1000) / 60)) + ' minut' %></td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/lectures/details/<%= l._id %>"
                                   class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <li>
                                <a href="/lectures/delete/<%= l._id %>" class="list-actions-button-delete"
                                   onclick="return confirm('Are you sure?')">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>

</main>
<%- include('../../fragments/footer.ejs') %>