<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Lista profesorów</h2>
    <table class="table-list">
        <tr>
            <th class="tableName"><%= __('prof.fields.firstName') %></th>
            <th class="tableSurname"><%= __('prof.fields.lastName') %></th>
            <th class="tableEmail"><%= __('prof.fields.email') %></th>
            <th class="tableSpec"><%= __('prof.fields.specialization') %></th>
            <th class="tableSettings"><%= __('prof.fields.settings') %></th>
        </tr>
        <tbody>
        <% for (let prof of profs) { %>
            <tr>
                <td><%= prof.firstName %></td>
                <td><%= prof.lastName %></td>
                <td><%= prof.email %></td>
                <td><%= prof.specialization %></td>
                <td>
                    <ul class="list-actions">
                        <li><a href="/professors/details/<%= prof._id %>" class="list-actions-button-details">
                                Szczegóły</a>
                        </li>
                        <% if (loggedUser) { %>
                        <li><a href="/professors/edit/<%= prof._id %>" class="list-actions-button-edit"> Edytuj</a></li>
                        <li><a href="/professors/delete/<%= prof._id %>" class="list-actions-button-delete"> Usuń</a>
                        </li>
                            <% } %>
                    </ul>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <p><a href="/professors/add" class="list-actions-button-add">Dodaj nowego
            profesora</a></p>
</main>

<%- include('../../fragments/footer.ejs') %>