<!DOCTYPE html>
<html lang="pl_PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University of Toronto HR Demo</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1><a href="/" class="header">University of Toronto HR Demo</a></h1>
    <a href="/" class="header">
        <img src="/images/logo.png" alt="University of Toronto Logo" width="100" height="100"/> </a>

    <% if (!loggedUser) { %>
        <div id="login">
            <form method="post" action="/login" novalidate class="login-form">
                <div class="block-form">
                    <label class="form-label" for="loginEmail">Email:</label>
                    <input type="email" id="loginEmail" name="email">
                </div>

                <div class="block-form">
                    <label class="form-label" for="loginPassword">Hasło:</label>
                    <input type="password" id="loginPassword" name="password">
                </div>

                <input class="button-login" type="submit" value="Zaloguj">
                <span id="loginErrors"><%= loginError ? loginError : '' %></span>
            </form>
        </div>
    <% } else { %>
        <span>Witaj,    <%= loggedUser.firstName + ' ! ' %></span>
        <a href="/logout" class="button-logout">Wyloguj</a>
    <% } %>
</header>
<nav>
    <ul>
        <li><a href="/" class="<%= navLocation == 'main' ? 'active' : '' %>">Strona główna</a></li>
        <% if (loggedUser) { %>
            <li><a href="/professors" class="<%= navLocation == 'prof' ? 'active' : '' %>">Profesorowie</a></li>
        <% } %>
        <li><a href="/lectures" class="<%= navLocation == 'lect' ? 'active' : '' %>">Wykłady</a></li>
        <li><a href="/departments" class="<%= navLocation == 'dept' ? 'active' : '' %>">Katedry</a></li>

        <li><a href="/changeLang/pl" class="<%= lang === 'pl' ? 'active' : '' %>">PL</a></li>
        <li><a href="/changeLang/en" class="<%= lang === 'en' ? 'active' : '' %>">EN</a></li>

    </ul>
</nav>