<%- include('../../fragments/header.ejs') %>
<script type="application/javascript" src="/js/validationFormDepartment.js"></script>
<script type="application/javascript" src="/js/validationFormCommon.js"></script>
<main>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%= formAction %>" novalidate>

        <input type="hidden" name="_id" value="<%= dept._id %>">

        <label for="name">Nazwa: <span class="symbol-required">*</span></label>
        <input class="<%= validationErrors.find(e => e.path.includes('name')) ? 'error-input' : '' %>" type="text"
               name="name" id="name" placeholder="np. Informatyka" value="<%= dept.name %>"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorDeptName" class="errors-text">
            <% if(validationErrors.find(e => e.path.includes('name'))){ %>
                <%= validationErrors.find(e => e.path.includes('name')).message %>
            <% } %>
        </span>

        <label for="totalHours">Ilość godzin wykładowych: <span class="symbol-required">*</span></label>
        <input class="<%= validationErrors.find(e => e.path.includes('totalHours')) ? 'error-input' : '' %>" type="text"
               name="totalHours" id="totalHours" placeholder="np. 300" value="<%= dept.totalHours %>"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorTotalHours" class="errors-text">
            <% if(validationErrors.find(e => e.path.includes('totalHours'))){ %>
                <%= validationErrors.find(e => e.path.includes('totalHours')).message %>
            <% } %>
        </span>

        <label for="description">Opis: </label>
        <textarea class="<%= validationErrors.find(e => e.path.includes('description')) ? 'error-input' : '' %>" class="desc-textarea" name="description" id="description"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>/><%= dept.description %></textarea>
        <span id="errorDescription" class="errors-text">
            <% if(validationErrors.find(e => e.path.includes('description'))){ %>
                <%= validationErrors.find(e => e.path.includes('description')).message %>
            <% } %>
        </span>

        <% if (formMode !== 'showDetails') { %>
            <div class="form-buttons">
            </div>
        <% } %>

        <% if (formMode === 'showDetails') { %>
            <% if (loggedUser) { %>
            <div class="form-buttons">
                <a href="/departments/edit/<%= dept._id %> " class="form-button-edit">Edytuj</a>
            </div>
                <% } %>
        <% } %>
        <div class="form-buttons">
            <span class="errors-text" id="errorsSummary"></span>
            <% if (formMode !== 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%= btnLabel %>"/>
                <a class="form-button-cancel" href="/departments">Anuluj</a>
            <% } else { %>
                <a class="form-button-cancel" href="/departments">Powrót</a>
            <% } %>
        </div>
    </form>
    <% if (formMode === 'showDetails' || formMode === 'edit') { %>


        <h2>Wykłady Katedry</h2>

        <table class="table-list">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Data rozpoczęcia</th>
                <th>Data zakończenia</th>
                <th>Długość</th>
                <th>Opcje</th>
            </tr>
            </thead>
            <tbody>
            <% for (let l of dept.lectures) { %>
                <tr>
                    <td><%= l.name %></td>
                    <td><%= l.dateFrom.toISOString().split('T')[0] + ' od ' + l.dateFrom.toISOString().split('T')[1].substring(0, 8) %></td>
                    <td><%= l.dateTo.toISOString().split('T')[0] + ' do ' + l.dateTo.toISOString().split('T')[1].substring(0, 8) %></td>
                    <td><%= Math.round((((l.dateTo - l.dateFrom) / 1000) / 60)) + ' minut' %></td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/lectures/details/<%= l._id %>"
                                   class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <% if (loggedUser) { %>
                            <li>
                                <a href="/lectures/delete/<%= l._id %>" class="list-actions-button-delete"
                                   onclick="return confirm('Are you sure?')">Usuń</a>
                            </li>
                                <% } %>
                        </ul>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>

</main>
<%- include('../../fragments/footer.ejs') %>