<%- include('../../fragments/header.ejs') %>
<main>
    <script type="application/javascript" src="/js/validationFormDepartment.js"></script>
    <h2><%= pageTitle %></h2>
    <form class="form" method="post" action="<%= formAction %>" novalidate onsubmit="return validationForm();">

        <input type="hidden" name="_id" value="<%= dept._id %>">

        <label for="dept-name">Nazwa: <span class="symbol-required">*</span></label>
        <input type="text" name="name" id="dept-name" placeholder="np. Informatyka" value="<%= dept.name %>"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorDeptName" class="errors-text"></span>

        <label for="totalHours">Ilość godzin wykładowych: <span class="symbol-required">*</span></label>
        <input type="text" name="totalHours" id="totalHours" placeholder="np. 300" value="<%= dept.totalHours %>"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>/>
        <span id="errorTotalHours" class="errors-text"></span>

        <label for="description">Opis: </label>
        <textarea class="desc-textarea" name="description" id="description"
                <%= (formMode === 'showDetails') ? 'disabled' : '' %>/><%= dept.description %></textarea>
        <span id="errorDescription" class="errors-text"></span>

        <% if (formMode !== 'showDetails') { %>
            <div class="form-buttons">
            </div>
        <% } %>

        <% if (formMode === 'showDetails') { %>
            <div class="form-buttons">
                <a href="/department/edit/<%= dept._id %> " class="form-button-edit">Edytuj</a>
            </div>
        <% } %>
        <div class="form-buttons">
            <span class="errors-text" id="errorsSummary"></span>
            <% if (formMode !== 'showDetails') { %>
                <input class="form-button-submit" type="submit" value="<%= btnLabel %>"/>
                <a class="form-button-cancel" href="/departments">Anuluj</a>
            <% } else { %>
                <a class="form-button-cancel" href="/departments">Powrót</a>
            <% } %>
        </div>
    </form>
    <% if (formMode === 'showDetails' || formMode === 'edit') { %>


        <h2>Wykłady Katedry</h2>

        <table class="table-list">
            <thead>
            <tr>
                <th>Nazwa</th>
                <th>Data rozpoczęcia</th>
                <th>Data zakończenia</th>
                <th>Długość</th>
                <th>Opcje</th>
            </tr>
            </thead>
            <tbody>
            <% for (let l of dept.lectures) { %>
                <tr>
                    <td><%= l.name %></td>
                    <td><%= l.dateFrom %></td>
                    <td><%= l.dateTo %></td>
                    <td><%= l.duration %></td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/lectures/details/<%= l._id %>"
                                   class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <li>
                                <a href="/lectures/delete/<%= l._id %>" class="list-actions-button-delete"
                                   onclick="return confirm('Are you sure?')">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>

</main>
<%- include('../../fragments/footer.ejs') %>